.cards-group {  
  display: inline-flex !important;
  flex-wrap: wrap;
  // flex-flow: row wrap;
}

.card {
  width: 18rem;
  border-radius: 0.25rem;
  margin: 8px;
}

.card-figure {
  height: 18rem;
  margin: 0;
  overflow: hidden;
}

.card-img {
  height: fit-content;
  width: 100%;
}

// SIMPLIFIED

.card.card-simplified {
  flex-direction: row;
}

.card.card-simplified .card-figure {
  height: 8rem;
  width: 8rem;
}

.card.card-simplified .card-img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.card.card-simplified .card-body {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}